{% extends "base.html" %}
{% block conteudo %}
<h1>Portal do Aluno</h1>
<br>
<h3><a href="/portalAluno">Todas as Materias</a></h3>
{% for materias in lista_materias %}
<h3><a href="{{ materias.get_absolute_url }}">{{ categoria.nome }}</a></h3>
{% endfor %}

<h1>Alunos</h1>
{% for produto in lista_produtos %}
    <img src="{{ Alunos.imagem.url }}" alt="{{ Alunos.nome }}">
    <h3><a href="{{ Alunos.get_absolute_url }}">{{ Alunos.nome }}</a>Registro Acacademico{{ Alunos.registroAcademico }}</h3>
{% endfor %}
{% endblock conteudo %}


{% extends "base.html" %}
{% block conteudo %}

<h2>Categorias</h2>
<a href="/produtos">Todas as categorias</a>
{% for categoria in lista_categorias %}
<a href="{{ categoria.get_absolute_url }}">{{ categoria.nome }}</a>
{% endfor %}

<h2>Produtos</h2>
<div class="produtos__container">
    {% for produto in lista_produtos %}
    <div class="card produto__card">
        <img class="card-img-top" src="{{ produto.imagem.url }}" alt="Card image cap">
        <div class="card-body">
            <p class="card-title">{{ produto.nome }}</p>
            <p> R${{ produto.preco }}</p>
            <a href="{{ produto.get_absolute_url }}" class="btn btn-primary">Ver mais detalhes...</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock conteudo %}
